.questionPage {
  display: flex;
  height: 40em;
  justify-content: center;

  /* align-items: center; */
}

.pageFlex {
  display: flex;
  /* background-color: black; */
}

.pageNone {
  display: none;
}

.questionBox {
  height: 100%;
  width: 100%;
  background-color: aquamarine;
  position: absolute;
  text-align: center;
  /* display: none; */
}

/* .questionBox :nth-child(1) {
  background-color: red;
} */

.question {
  margin: 10%;
}

.questionImg {
  width: 30%;
  height: 50%;
  margin-top: 5%;
  margin-bottom: 10px;
}

.answerButton {
  height: 3em;
  width: 15em;
  border: 0;
  margin: 2em;
  background-color: burlywood;
}

.answerButton:hover {
  color: red;
  background-color: purple;
}

.lists {
  padding: 0;
  height: 30px;
  margin: 10em;
}
